.contactus {
    width: 35rem ;
    margin: auto;
    margin-top: 8rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding: 2rem ;
    border-radius: 1rem ;
}

.contactus h2 {
    color: #559d2d;
    font-size: 2rem ;
    margin-bottom: 0 ;
}

.contactus .grp {
    display: flex;
    gap: 1rem ;
}

.contactus .input {
    width: 100% ;
}

.contactus .input__grp {
    width: 15rem ;
}

@media only screen and (max-width: 500px) {
    .contactus {
        width: 100% !important;
    }
}