.join {
    width: 1200px  ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10rem !important;
}

@media only screen and (max-width: 1200px) {
    .join {
        width: 1000px;
    }
}

@media only screen and (max-width: 1000px) {
    .join {
        width: 700px;
    }
    .right img{
        width: 100% ;
    }
}

@media only screen and (max-width: 720px) {
    .join__div {
        display: block !important;
    }
    .join__div .left {
        width: 90% !important;
        margin-bottom: 4rem !important;
    }
    .join__div .right {
        width: 70% !important;
        margin: auto;
    }

    .join__div .left p {
        text-align: center !important;
    }
}

@media only screen and (max-width: 720px) {
    .join {
        width: 100% ;
    }
    .join h1 {
        width: 100% !important ;
    }
}

.join h3 {
    color: #333 ;
    margin-bottom: 1rem ;
}

.join h1 {
    width: 36rem ;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 4rem ;
}

.join h1 span {
    color: lightblue;
}

.join__div {
    display: flex;
    gap: 2rem ;
}

.join__div .left {
    width: 50%;
}

.join__div .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem ;
    margin: auto;
}

.join__div .right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
}

.join__div .left p {
    text-align: right;
    color: grey ;
    font-size: 1.3rem ;
    line-height:2rem ;
}


.join__div .left .btn__cont {
    display: flex;
    gap: 2rem ;
}

.join__div .left .btn__cont button {
    width: 10rem ;
    height: 3rem ;
}